.availability {
  display: inline-block;
  padding: 2px 15px;
  background: #ffffff;
  border: 2px solid #3d7bea;
  border-radius: 20px;
  font-size: 14px;

  &:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }

  &.in-stock:before {
    background: #0eb524;
  }

  &.not-available:before {
    background: #d81010;
  }
}
